/* Video Figures */
figure.figure-audio {
    margin-left: 0;
    margin-right: 0;
}

    figure.figure-audio .figure-audio-player {
        display: grid;
        grid-template-columns: 196px auto;
        grid-template-rows: auto 1fr auto;
        background: #9dff0012;
        border: 2px solid #80ff0047;
        border-radius: 43px;
    }

        figure.figure-audio .figure-audio-player .figure-audio-player-albumcover {
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            margin: 16px 20px 8px 16px;
        }

            figure.figure-audio .figure-audio-player .figure-audio-player-albumcover ::deep img {
                width: 100%;
                border: 2px solid #80ff0047;
                border-radius: 27px;
            }

        figure.figure-audio .figure-audio-player .figure-audio-player-header {
            grid-column: 2 / 3;
            width: 100%;
            font-size: 1.25em;
            font-weight: 500;
            margin-top: 16px;
        }

            figure.figure-audio .figure-audio-player .figure-audio-player-header ::deep b {
                font-weight: 700;
            }

        figure.figure-audio .figure-audio-player .figure-audio-player-description {
            grid-column: 2 / 3;
            width: 100%;
        }

            figure.figure-audio .figure-audio-player .figure-audio-player-description ::deep p:first-child {
                margin-top: 0;
            }

            figure.figure-audio .figure-audio-player .figure-audio-player-description ::deep p:last-child {
                margin-bottom: 0;
            }

        figure.figure-audio .figure-audio-player audio {
            width: 100%;
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            padding: 0 16px 0 0;
            box-sizing: border-box;
            filter: sepia() hue-rotate(50deg);
            margin-bottom: 16px;
        }
