/* Pills */
.pill-cloud {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
}

    .pill-cloud ::deep .pill {
        background-color: var(--palette-primary-background1-color);
        border: solid 1px var(--palette-primary-color);
        color: var(--palette-primary-color);
        border-radius: 8px;
        padding: 0 0.5em 0 0.4375em;
        display: flex;
        letter-spacing: 0;
        align-items: center;
        text-decoration: none;
        font-weight: normal;
        position: relative;
        line-height: 1.75;
    }

        .pill-cloud ::deep .pill::selection {
            background-color: var(--palette-primary-color);
            color: black;
        }

        .pill-cloud ::deep .pill::before {
            content: '';
            position: absolute;
            top: -96px;
            bottom: -96px;
            left: -96px;
            right: -96px;
            background: radial-gradient(closest-side, hsl(var(--palette-primary-hue), 100%, 50%, 0.25) 0%, hsl(var(--palette-primary-hue), 100%, 50%, 0.0625) 50%, hsl(var(--palette-primary-hue), 100%, 50%, 0.0) 100%);
            z-index: -1;
            opacity: 0.625;
            transition: opacity ease-in-out 0.125s;
            pointer-events: none;
        }

        .pill-cloud ::deep .pill svg:first-child {
            width: 1.5em;
            height: 1.5em;
            margin: 0 0.25em 0 -0.125em;
            pointer-events: none;
        }

        .pill-cloud ::deep .pill svg.external-link-icon {
            width: 0.75em;
            height: 0.75em;
            margin: 0.25em -0.1875em 0 0.25em;
            align-self: start;
            pointer-events: none;
        }

    .pill-cloud ::deep a.pill::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 8px;
        opacity: 0;
        transition: opacity ease-in-out 0.125s;
        pointer-events: none;
        box-shadow: 0 0 10px hsl(var(--palette-primary-hue), 100%, 65%, 0.8);
    }

    .pill-cloud ::deep a.pill:hover,
    .pill-cloud ::deep a.pill:focus-visible {
        outline: 0;
    }

        .pill-cloud ::deep a.pill:hover::before,
        .pill-cloud ::deep a.pill:focus-visible::before {
            opacity: 1;
        }

        .pill-cloud ::deep a.pill:hover::after,
        .pill-cloud ::deep a.pill:focus-visible::after {
            opacity: 1;
        }
